@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 800;
}
@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.plant-pic{
    background: url("../img/plant.png") left no-repeat;

}
.container{
    max-width: 1165px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
    margin-left: 56px;
    margin-right: 56px;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__elements{
        display: flex;
        align-items: center;
    }
    &__icons{
        display: flex;
        align-items: center;
    }
    &__btns{
        display: flex;
        align-items: center;
    }
    &__serch{
        margin-right: 40px;
    }
}
.btn{
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    padding: 8px 33px;
    background-color: #156963;
    &_w{
        color: #156963;
        background-color: #fff;
    }
}

.main{
    &__wrap{
        display: flex;
        gap: 77px;
    }
    &__pic{
        min-width: 600px;
        height: 100%;
    }

    &__title{
        color: #156963;
        font-size: 68px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    &__texts{
        max-width: 680px;
        padding: 110px 56px 30px 77px;
        margin-left: 685px;
    }
    &__text{
        color: #2C1500;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 110px;
        line-height: 1.5;
    }
    &__btns{
        display: flex;
        margin-left: 694px;
    }
    &__btn{
        padding: 39px 49px;
        &-subtitle{
            color: #33333346;
            font-size: 24px;
            font-weight: 500;
            position: relative;


            &_p::before{
                content: url("../img/arrow-l.svg");
                position:absolute;
                left: 0;
                top: 0;
                
            }
            &_n::after{
                content: url("../img/arrow-r.svg");
                position:absolute;
                
            }
       
        }
        &-subtitle_p{
            padding-left: 35px;
        }
        &-text{
            color: #156963;
            font-weight: 500;
            font-size: 32px;
            &-r{
                color: #fff;
            }
        }
    }
}

.shop{
    padding-top: 140px;

    &__pluses{
        display: flex;  
        justify-content: space-between;

    }
    &__plus{
        border: 1px solid rgba(128, 128, 128, 0.233);

        max-width: 268px;
        max-height: 155px;
        margin-right: 32px;

    }
    &__plus-first{
        margin-left: 56px;
    }
    &__plus-last{
        margin-right: 56px;
    }
    &__plus-title{
        color: #156963;
        font-weight: 700;
        font-size: 16px;
        padding-top: 28px;
    }
    &__plus-text{
        font-weight: 400;
        font-size: 10px;
        color:#2C1500;
        padding: 16px 16px 21px 16px;
        line-height: 1.5;
    }
    &__plus-img{
        padding: 22px  16px 16px 16px;

    }
    &__box{
        display: flex;
    }
    &__sort{
        padding-top: 80px;
        padding-left: 56px;
        padding-right: 56px;
    }
    &__sort-title{
        color:#000000;
        font-weight: 500;      
        font-size: 20px;
    }
     &__sort-btn{
        font-weight: 500;
        font-size: 12px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(128, 128, 128, 0.314);
        margin-bottom: 16px;
    }
    &__sort-btn::after{
        content: url("../img/arrow-down.svg");


    }
    &__sort-tb{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    }
    &__row{
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
    }
    &__pic{
        display: flex;

    }

    &__showcase-name1{

        padding: 16px 53px 8px 53px;
    }
    &__showcase-price1{
        padding-right: 63px;
        padding-left: 63px;
    }
    &__showcase-name2{

        padding: 16px 51px 8px 51px;
    }
    &__showcase-price2{
        padding-right: 60px;
        padding-left: 60px;
    }
    &__showcase-name3{

        padding: 16px 39px 8px 39px;
    }
    &__showcase-price3{
        padding-right: 63px;
        padding-left: 63px;
    }
    &__showcase-name4{

        padding: 16px 39px 8px 39px;
    }
    &__showcase-price4{
        padding-right: 63px;
        padding-left: 63px;
    }
    &__showcase-name5{

        padding: 16px 39px 8px 39px;
    }
    &__showcase-price5{
        padding-right: 63px;
        padding-left: 63px;
    }
}
.plants{
    padding-top: 80px;
    padding-left: 56px;
    padding-right: 56px;
    &__title{
        color: #2C1500;
        font-weight: 700;
        font-size: 40px;
        max-width: 522px;
        padding-bottom: 16px;
    }
    &__text{
        color: #2C1500;
        font-weight: 400;
        font-size: 16px;
        max-width: 522px;
        line-height: 2;
    }
    &__wrap{
        display: flex;
    }
    &__texts{
        padding-right: 109px;
        padding-bottom: 74px;
    }
    &__img1{
        height: 609px;
        width:496px ;
    }
    &__plants__img{
        height: 250px;
    }

}

.pot{
    padding: 80px 56px 0 56px;

    &__pic{
        width: 100%;
        height: 360px;
        padding:88px 0 88px 97px;
        background: url("../img/bg-get.jpg") no-repeat;
        background-size: 100%;

    }
    &__title{
        color: #2C1500;
        font-weight: 700;
        font-size: 40px;
        max-width: 585px;
        padding-bottom: 32px;
    }
    &__btn{
        max-width: 152px;

    }
    
}

.footer{
    margin-top: 80px;
    border-top: 1px solid #156963;
    &__wrap{
        display: flex;
        padding: 60px 167px 71px 167px;
    }
    &__box{
        padding-right: 80px;
    }
    &__title-main{
        font-weight: 500;
        font-size: 24px;
        color: #156963;
        text-transform: uppercase;
        padding-bottom: 24px;
    }
    &__title{
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        padding-bottom: 24px;
        text-decoration: s;
        &_first{
            padding-bottom: 10px;
        }
        &_last{
            padding-bottom:14px ;
        }
    }
    &__subtitle{
        font-weight: 400;
        font-size: 13px;
        color: #4F4F4F;
        max-width: 282px;                                                                                                                                                
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        padding-bottom: 14px;
    }
    &__input{
        width: 234px;
        height: 32px;
        margin-bottom: 14px;
    }
}